In [1]:
!pip install numpy
!pip install pandas
!pip install matplotlib

Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.19.1)
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.1.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.19.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: matplotlib in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.3.1)
Requirement already satisfied: certifi>=2020.06.20 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (7.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
exp_1 = pd.read_csv('exp_1.csv')
exp_2 = pd.read_csv('exp_2.csv')

In [4]:
exp_1.head(4)

   theta_1_GMS  theta_2_GMS
0       120.68       242.68
1       122.68       241.00
2       122.35       240.63
3       122.00       241.68

Notamos que el nombre de las columnas por los subíndices nos da el nombre de los ángulos ($\theta_1$ y $\theta_2$) y las unidades en las que estas están medidas, siendo estas **GMS** (*Grados-Minutos-Segundos*)

Buscamos el ángulo característico $\alpha$ dada por

$$
\alpha = \frac{\theta_2 - \theta_1}{2}
$$

Creemos una columna en nuestro *dataframe* que contenga el ángulo característico $\alpha$)

In [5]:
# Cambiemos los nombres por simplicidad
exp_1 = exp_1.rename(columns = {'theta_1_GMS': 'Theta_1', 'theta_2_GMS': 'Theta_2'}, inplace = False)
exp_1.columns

Index(['Theta_1', 'Theta_2'], dtype='object')

In [8]:
exp_1['Alpha'] = (exp_1["Theta_2"] - exp_1["Theta_1"])/2
exp_1.head()

   Theta_1  Theta_2  Alpha
0   120.68   242.68  61.00
1   122.68   241.00  59.16
2   122.35   240.63  59.14
3   122.00   241.68  59.84

Veamos ahora que contiene el sgundo experimento en el cual determinaremos el índice de refracción para diferentes colores del espectro visible

In [ ]:
exp_2.head()